<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}

    </title>
</head>
<body style="background-color:#e1eedd;">
    <nav>
        <a href="/" style="color:black;font-family:'Courier New';font-size:15px; text-decoration: none">Home </a>
        <a id = "GFG" href= "/history" style="color:black;font-family:'Courier New';font-size:15px; text-decoration: none">History</a>
    </nav>
{% block content %}

{% endblock %}
</body>
</body>
</html>