{% extends 'layout.html' %}

{% block title %}
ShortenURL
{% endblock %}




{% block content %}

<body>
    <style>
        input[type=text], select {
            width: 18%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        .button {
          background-color: #6cad58;
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
        }
        </style>
    <br><br><br><br><br><br><br><br><br><br>
    <center>
            <h1>Shorten URL</h1>
    <form method="POST" action="/short">
        <input type='text' name='surl' value={{short}}><br>
<br><br>
<input type="Submit" value="COPY URL"  class="button"></input>
    </form>
</center>
</body>

{% endblock %}