<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/"></a>
    <form method='post' action="http://127.0.0.1:5000/">
        <label for="text" style="font-family:'Courier New';font-size:30px">Enter String</label>
        <input type='text' size = "50" name='in_1' placeholder='STRING' style="font-family:'Courier New';font-size:15px"><br>
        <label for="text" style="font-family:'Courier New';font-size:30px">Enter REGex</label>
        <input type='text' size = "50" name='in_2' placeholder='Enter REgex' style="font-family:'Courier New';font-size:15px"><br>
        <br>

        <input type="Submit" value="Exicute"  class="button" size ="30" style="font-family:'Courier New';font: size 17px;px"></input>
        <p>{{empty}}</p>
        <br>

<p>{{string_show}}</p>
<p>{{regex_show}}</p>
{% for key in data %}
<tr>
    <td style="font-family: Garamond, serif;color:#4e8170; background-color: #c1ccbd; color:#000000;"><b>{{key}}</b><br></td>
</tr>
{%endfor%}

<p>{{match}}</p>

    
</body>
</html>